#title, .caption, .heading, ul{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#title{
    font-size: 50px;
    
}

strong.caption{
    text-align: center;

}
li:not(:last-child){
    margin-bottom: 5px;
}